:root {
  --font: Helvetica, Arial, Roboto, sans-serif;
  --font-size: 1rem;
  --font-size-md: 0.85rem;
  --font-size-sm: 0.6rem;
  --cl-gray1: #232323;
  --cl-gray2: #343434;
  --cl-gray3: #696969;
  --cl-gray4: #8e8e8e;
  --cl-gray5: #e1e1e1;
  --cl-orange: #a46e30;
  --cl-red: #a43430;
  --cl-blue: #3076a4;
  --cl-mint: #30a486;
  --cl-green: #30a449;

  --cl-back: var(--cl-gray1);
  --cl-fore: var(--cl-gray5);
  --cl-block-bg: var(--cl-gray2);
  --cl-action-bg: var(--cl-mint);
  --cl-secondary-action-bg: var(--cl-gray1);
  --cl-selected: var(--cl-green);
  --cl-solo: var(--cl-blue);
  --cl-mute: var(--cl-red);
  --cl-on: var(--cl-green);
  --cl-fill: var(--cl-mint);

  --size-lg: .75rem;
  --size: .5rem;
  --size-md: .3rem;
  --size-sm: .2rem;
  --size-hairline: .1rem;

  --spacing-lg: var(--size-lg);
  --spacing: var(--size);
  --spacing-md: var(--size-md);
  --spacing-sm: var(--size-sm);
  --spacing-xs: var(--size-hairline);

  --boder-size: var(--size-hairline);
  --boder-highlight-size: var(--size-sm);
  --boder-focus-size: var(--size-md);
  --border-radius: var(--size-sm);
  --border: var(--boder-size) solid var(--cl-gray1);
  --border-highlight: var(--boder-highlight-size) solid var(--cl-gray1);
  --border-focus: var(--boder-focus-size) solid var(--cl-gray1);

  --track-name-w: 5rem;
  --header-height: 3.2rem;

  --action-btn-w: 2rem;
  --action-btn-h: 2rem;

  --knob-size: 4em;
  --fader-width: 8rem;
  --fade-height: 1.4rem;
}

html {
  background: var(--cl-back);
  font-family: var(--font);
  color: var(--cl-fore);
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

header {
  background: var(--cl-block-bg);
  display: flex;
  padding: var(--spacing);
  position: fixed;
  width: 100%;
  z-index: 10;
}

header h1 {
  margin: 0;
}

main {
  padding-top: var(--header-height);
}

button {
  cursor: pointer;
  border: none;
  color: var(--cl-fg);
}

.action_btn {
  background: var(--cl-action-bg);
  height: var(--action-btn-h);
  min-width: var(--action-btn-w);
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  margin-left: var(--spacing);
}

#info {
  padding: var(--spacing);
  display: flex;
}

.info-block {
  background-color: var(--cl-gray2);
  display: flex;
  margin-right: var(--spacing);
  align-items: center;
}

.info-block-label {
  flex: 0 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-sm);
  padding: var(--spacing);
}

.track {
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing);
  background: var(--cl-block-bg);
  border-left: var(--border-focus);
  margin-left: var(--spacing-sm);
}

.track-on {
  border-left-color: var(--cl-on);
}

.track-info {
  line-height: 1;
  display: flex;
  padding-bottom: var(--spacing);
  border-bottom: var(--border);
  margin-bottom: var(--spacing);
}

.track-name {
  display: flex;
  align-items: center;
  width: var(--track-name-w);
  background-color: var(--cl-back);
  overflow: hidden;
  line-height: 1;
  padding: var(--spacing-sm);
  text-overflow: ellipsis;
  margin-right: var(--spacing-sm);
}

.range-info {
  padding: var(--spacing-sm);
  font-size: var(--font-size-sm);
  line-height: 2;
}

.track-status {
  border-radius: var(--border-radius);
  margin-right: var(--spacing-xs);
  padding: var(--spacing);
  background-color: var(--cl-secondary-action-bg);
  color: var(--cl-fore);
}
.track-off {
  background: var(--cl-mute);
}
.track-solo {
  background: var(--cl-solo);
  color: var(--cl-back);
}

.step-on,
.step-off {
  border-radius: var(--border-radius);
  background: var(--cl-secondary-action-bg);
  display: inline-block;
  padding: var(--spacing);
  height: var(--spacing);
  width: var(--size-md);
  box-sizing: content-box;
  margin-right: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  position: relative;
}

.step-on::after, .step-off::after {
  border-top: var(--border-highlight);
  border-radius: var(--border-radius);
  position: absolute;
  bottom: calc(var(--spacing-md) * -1);
  left: 0;
  width: 100%;
  content: '●';
  font-size: 0;
}

.step-highlight::after {
  border-color: var(--cl-selected);
}

.step-on {
  background: var(--cl-selected);
}

.knob, .fader {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

.knob-range-wrapper, .fader-range-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

.knob { width: var(--knob-size); }
.fader { width: var(--fader-width); }

.knob-range-wrapper {
  height: var(--knob-size);
}
.fader-range-wrapper {
  height: var(--fade-height);
}

.knob-range, .fader-range {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  opacity: 0;
}

.knob-range {
  transform: rotate(-90deg);
}

.knob-visual, .fader-visual {
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.knob-ring-bg, .fader-bg {
  fill: var(--cl-gray1);
  stroke: var(--cl-gray1);
  stroke-width: 1;
}
.knob-ring, .fader-indicator {
  fill: var(--cl-fill);
}
.knob-top {
  fill: var(--cl-gray2);
  stroke: var(--cl-gray1);
  stroke-width: 1;
}
.fader-handle {
  fill: var(--cl-gray4);
  stroke: var(--cl-gray1);
  stroke-width: 1;
}
.knob-indictator-dot {
  transform-origin: center;
  fill: var(--cl-fill);
}

.knob-label, .fader-label {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-sm);
}
