:root {
  --font: Helvetica, Arial, Roboto, sans-serif;
  --font-size: 1rem;
  --cl-fg: #323232;
  --cl-action-bg: #43849f;
  --cl-action-fg: #fff;
  --cl-border: #c8c8c8;
  --cl-focus: #43849f;
  --cl-error: #9f4343;
  --cl-highlight: #6b9f38;
  --cl-track-bg: #efefef;
  --spacing: 0.5rem;
  --spacing-sm: 0.25rem;
  --btn-spacing: 0.5rem 1rem;
  --border-radius: 0.3rem;
  --boder-size: 1px;
  --shadow-size: 5px;
  --border: var(--boder-size) solid var(--cl-border);
  --track-name-w: 5rem;
}

html {
  font-family: var(--font);
  color: var(--cl-fg);
  padding: var(--spacing);
}

.action_btn {
  background: var(--cl-action-bg);
  color: var(--cl-action-fg);
  padding: var(--btn-spacing);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  cursor: pointer;
}

#info {
  margin-bottom: var(--spacing);
}

#tracks {
  margin-top: var(--spacing);
}

.track {
  margin-bottom: var(--spacing);
  border: var(--border);
  padding: var(--spacing-sm);
  background: var(--cl-track-bg);
}

.track-info {
  line-height: 1;
}

.track-name {
  display: inline-block;
  width: var(--track-name-w);
  overflow: hidden;
  padding: var(--spacing-sm);
  text-overflow: ellipsis;
  margin-right: var(--spacing-sm);
}

.track-status {
  display: inline-block;
  padding: var(--spacing-sm);
  margin-right: var(--spacing-sm);
  border: var(--border);
  background: var(--cl-action-fg);
}
.track-on {
  background: var(--cl-highlight);
}
.track-off {
  background: var(--cl-error);
}
.track-solo {
  background: var(--cl-focus);
}

.step-on,
.step-off {
  background: var(--cl-action-fg);
  display: inline-block;
  padding: calc(var(--spacing) * 2) var(--spacing);
  margin-right: var(--spacing-sm);
  border: var(--border);
}

.step-highlight {
  box-shadow: 0 0 var(--shadow-size) var(--cl-highlight);
}

.step-on {
  background: var(--cl-highlight);
}
