:root {
    --font: Helvetica, Arial, Roboto, sans-serif;
    --font-size: 1rem;
    --cl-fg: #323232;
    --cl-action-bg: #43849f;
    --cl-action-fg: #efefef;
    --cl-border: #c8c8c8;
    --cl-focus: #43849f;
    --spacing: .5rem;
    --spacing-sm: .25rem;
    --btn-spacing: .5rem 1rem;
    --border-radius: .3rem;
}

html {
    font-family: var(--font);
    color: var(--cl-fg);
    padding: var(--spacing);
}

.action_btn {
    background: var(--cl-action-bg);
    color: var(--cl-action-fg);
    padding: var(--btn-spacing);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
}

#info {
    margin-bottom: var(--spacing);
}

#tracks {
    margin-top: var(--spacing);
}

.track {
    margin-bottom: var(--spacing);
}

.step-on, .step-off {
    display: inline-block;
    padding: calc(var(--spacing) * 2) var(--spacing);
    margin-right: var(--spacing-sm);
    border: 1px solid var(--cl-border);
}

.step-on {
    background: var(--cl-focus);
}
